# PYTHON PROGRAMMING FUNDAMENTALS
# TUPLES AND SETS

# TUPLES 

- Immutable Python objects. 
- 튜플은 시퀀스, 즉 순서가 있습니다. 
- 튜플은 괄호 ( ) 를 사용합니다.

In [3]:
string = '안녕하세요'
string[0]

'안'

In [4]:
string[0] = '암'
# 튜블은 값을 바꿀수가 없다. immutable

TypeError: 'str' object does not support item assignment

In [5]:
tuple_1 = ('홍길동', '에이미', 10, 15, 1999)

In [6]:
tuple_1

('홍길동', '에이미', 10, 15, 1999)

In [7]:
type(tuple_1)

tuple

In [9]:
#변경은 안되지만 값을 불러올수 있다.
tuple_1[1]

'에이미'

In [12]:
tuple_1[1 : 4]

('에이미', 10, 15)

In [13]:
tuple_1[-1]

1999

In [14]:
tuple_2 = (100, 30, 40, 50)

In [16]:
tuple_all = tuple_1 + tuple_2
tuple_all

('홍길동', '에이미', 10, 15, 1999, 100, 30, 40, 50)

In [26]:
my_list = [1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

In [27]:
type(my_list)

list

In [34]:
# 리스트를 튜플로 바꾸기
my_list = tuple(my_list)
my_list

(1, 2, 3, 4, 5)

In [35]:
type(my_list)

tuple

In [38]:
# 튜플을 리스트로 바꾸기
my_list = list(my_list)
my_list

[1, 2, 3, 4, 5]

In [39]:
type(my_list)

list

# SETS
- 중복된 데이터를 빼고 unique한 값들만
- 셋에 들어있는 데이터는 순서가 없습니다.
- 셋에는 동일한 값이 저장되지 않습니다. 우리가 배웠던 집합과 같습니다. 
- 셋은 중괄호 { } 로 정의합니다.

In [51]:
dic_a = {'a': 30 , 'b' : 333, '홍길동':'안녕하세요'}

In [52]:
type(dic_a)

dict

In [59]:
# 입력순서와 무관하게 저장됨
my_set = {1,3,2}
my_set

{1, 2, 3}

In [61]:
#중복된 데이터를 제거함
my_set = {3,3,3,1,2,5,1,6}
my_set

{1, 2, 3, 5, 6}

In [62]:
my_list = [3,3,3,1,2,5,1,6]
my_list

[3, 3, 3, 1, 2, 5, 1, 6]

In [65]:
#중복을 제거한 리스트를 셋으로 저장하기
my_set = set(my_list)
print(my_set)

{1, 2, 3, 5, 6}

In [67]:
my_list = list(my_set)
print(my_list)

[1, 2, 3, 5, 6]

In [68]:
7 in my_list

False