# <font color='red'> *실습* </font> 
# <font color='red'> SETS AND TUPLES </font>

# <font color='blue'> 1. 다음처럼 출력하세요. Hello Chanel, you are 26 years old!

In [6]:
my_tuple = ("Chanel", 26)
print('hello {}, you are {} years old' .format(my_tuple[0], my_tuple[1]))

hello Chanel, you are 26 years old

# <font color='blue'> 2. 다음과 같은 튜플이 있습니다. (1) 모든 튜플 출력, (2) 마지막 값 출력, (2) 첫번째와 두번째 값 출력

In [63]:
my_tuple = ("chanel", "mitch", "sarah", "cynthia", "diane", "steeve")

In [64]:
print(my_tuple)

('chanel', 'mitch', 'sarah', 'cynthia', 'diane', 'steeve')

In [65]:
print(my_tuple[-1])

steeve

In [66]:
print(my_tuple[0:2])

('chanel', 'mitch')

#  <font color='blue'> 3. 다음과 같은 튜플이 있습니다. (1) 길이를 구하세요. (2) 타입을 확인하세요.

In [12]:
my_tuple = ("Ryan", "ahmed", 25)

In [13]:
len(my_tuple)

3

In [15]:
type(my_tuple)

tuple

# <font color='blue'> 4. (1) "40"을 출력하세요, (2) "world"를 출력하세요, (3) 25 를 출력하세요, (4) 두번째 요소로 저장되어 있는 리스트를 출력하세요,(5) 맨 마지막 요소인 튜플을 출력하세요

In [55]:
my_tuple = ("hello", [87, 40, 60], "world", (10, 25, 30))

In [56]:
print(my_tuple[1][1])

40

In [57]:
print(my_tuple[2])

world

In [58]:
print(my_tuple[3][1])

25

In [59]:
print(my_tuple[1])

[87, 40, 60]

In [60]:
print(my_tuple[-1])

(10, 25, 30)

# <font color='blue'> 5.다음을 실행해보고, 왜 그런지 적으세요.

In [70]:
my_tuple = (40, 3, 2, [10, 4])

In [71]:
my_tuple[2] = 10

# 튜플은 수정이 불가능함 immutable

TypeError: 'tuple' object does not support item assignment

In [24]:
my_tuple[3][0] = 9

# 튜플의 4번째 값(리스트) 내 첫번째 값

(40, 3, 2, [9, 4])

In [72]:
type(my_tuple[3])

list

# <font color='blue'> 6.다음을 실행해보고, 왜 그런지 적으세요.

In [79]:
my_tuple = (40, 3, 2, [10, 4])
print(my_tuple)

(40, 3, 2, [10, 4])

In [80]:
del my_tuple
print(my_tuple)
# 튜플 자체를 지웠으므로 정의된 my_tuple가 없음

NameError: name 'my_tuple' is not defined

# <font color='blue'> 7. (1) python 이 들어 있는지 확인하세요. (2) Python 이 들어 있는지 확인하세요. (3) physics 가 없는지 확인하세요.

In [81]:
my_tuple = ('math','science','science','python','english')

In [82]:
'python' in my_tuple

True

In [83]:
'Python' in my_tuple

False

In [84]:
'physics' not in my_tuple

True

# <font color='blue'> 8. my_list에는 동일한 값들이 들어있습니다. 동일한 값들을 제거하여, 동일한 값이 없는 리스트로 만드세요.  </font>

In [44]:
my_list = ["2", 50, "2", 50, 4, 6, 9, 9]
my_set = set(my_list)

In [45]:
my_set

{'2', 4, 50, 6, 9}

#  <font color='blue'> 9. 자신의 이름을 추가하세요. 그리고 출력하세요.

In [46]:
my_set = {"sara", "mike", "jon", "jon", "mike"}

In [47]:
my_set.add('sumi')

In [48]:
print(my_set)

{'sumi', 'mike', 'jon', 'sara'}