# <font color='red'> *실습* </font> 
# <font color='red'> LISTS </font>

# <font color='blue'> 1. 첫번째, 두번째, 마지막 항목을 출력하세요. </font>

In [2]:
names = ["sara", "chanel", "mike", "ryan", "holy", "alex", "rob"]

In [5]:
print("{}, {}, {}" .format(names[0], names[1], names[-1]))

sara, chanel, rob

# <font color='blue'> 2. 리스트의 모든 항목 출력,

In [9]:
print(names)

['sara', 'chanel', 'mitch', 'ryan', 'holy', 'alex', 'rob']

# <font color='blue'> 3. "chanel" "mitch" "ryan" 항목 출력, </font>

In [54]:
print(names[1:4])

['chanel', 'mitch', 'ryan']

# <font color='blue'> 4. 첫번째 항목부터 시작하여 3개 항목을 출력하기</font>

In [11]:
names[0:4]

['sara', 'chanel', 'mitch', 'ryan']

# <font color='blue'> 5. 리스트 맨 마지막 3개 항목을 출력하기</font>

In [13]:
names[-3:]

['holy', 'alex', 'rob']

# <font color='blue'> 6. 다음을 출력 (1) SALLY, (2) SARA, SALLY, JOE (3) ALY </font>

In [15]:
my_list = ["Mitch", ["sara", "sally", "joe"], "peter", "aly"]

In [21]:
print(my_list[1][1])

sally

# <font color='blue'> 7. 현재 리스트의 길이를 먼저 구하고, 자신의 이름을 맨 끝에 추가하세요. </font>

In [22]:
my_list = ["Mitch", ["sara", "sally", "joe"], "peter", "aly"]

In [24]:
my_list.append('sumi')

In [25]:
my_list

['Mitch', ['sara', 'sally', 'joe'], 'peter', 'aly', 'sumi']

# <font color='blue'> 8. "PETER" 를 리스트에서 제거하세요. </font>

In [26]:
my_list = ["Mitch", ["sara", "sally", "joe"], "peter", "aly"]

In [28]:
my_list.remove('peter')

In [29]:
my_list

['Mitch', ['sara', 'sally', 'joe'], 'aly']

# <font color='blue'> 9. 오름차순으로 순서대로 정렬하세요. </font>

In [30]:
my_list = [50, 20, 30, 10, 40, 15, 45]

In [35]:
sorted(my_list)

[10, 15, 20, 30, 40, 45, 50]

# <font color='blue'> 10. 위 리스트를 내림차순으로 정렬하세요. </font>

In [36]:
sorted(my_list, reverse=True)

[50, 45, 40, 30, 20, 15, 10]

# <font color='blue'> 11. 리스트 안에, 리스트들이 들어 있습니다. 작은 리스트들의 맨 마지막 항목들만 뽑아서, 새로운 리스트를 만드세요. </font> 
- chocolate, potatoes, protein bar 를 뽑아내는 코드를 작성하고, 이들을 리스트로 만듭니다.

In [71]:
grocery_list = [['chips','jelly','chocolate'],['sweet potatoes','potatoes'],['peanuts','protein bar']]

In [72]:
new_grocery_list = [grocery_list[0][-1], grocery_list[1][-1], grocery_list[2][-1]]

In [73]:
new_grocery_list

['chocolate', 'potatoes', 'protein bar']

# <font color='blue'> 12. 다음 문장을, 공백기준으로 잘라서, 리스트로 만드세요. 그리고 to 라는 단어가 몇개 인지 확인하세요. </font> 
- 예)   [ 'She', 'had', 'a', 'lot',,,,]
- 문자열 부분에서 배운 함수를 참고하세요

In [40]:
essay = '''"She had a lot of money. She was a generous woman. She was once poor. She understood what it was like. She wanted to help out. On Christmas day, she handed out food to the poor. She made the food herself. She put a turkey leg, a scoop of mash potatoes, and peas on a plate. She gave the plate to each homeless person she saw.

The homeless people loved her. One homeless man even gave her a penny. She said to keep it for himself. She decided to do more. She gave $50 to every homeless person she saw. She felt good."'''

In [48]:
essay.split()

['"She',
 'had',
 'a',
 'lot',
 'of',
 'money.',
 'She',
 'was',
 'a',
 'generous',
 'woman.',
 'She',
 'was',
 'once',
 'poor.',
 'She',
 'understood',
 'what',
 'it',
 'was',
 'like.',
 'She',
 'wanted',
 'to',
 'help',
 'out.',
 'On',
 'Christmas',
 'day,',
 'she',
 'handed',
 'out',
 'food',
 'to',
 'the',
 'poor.',
 'She',
 'made',
 'the',
 'food',
 'herself.',
 'She',
 'put',
 'a',
 'turkey',
 'leg,',
 'a',
 'scoop',
 'of',
 'mash',
 'potatoes,',
 'and',
 'peas',
 'on',
 'a',
 'plate.',
 'She',
 'gave',
 'the',
 'plate',
 'to',
 'each',
 'homeless',
 'person',
 'she',
 'saw.',
 'The',
 'homeless',
 'people',
 'loved',
 'her.',
 'One',
 'homeless',
 'man',
 'even',
 'gave',
 'her',
 'a',
 'penny.',
 'She',
 'said',
 'to',
 'keep',
 'it',
 'for',
 'himself.',
 'She',
 'decided',
 'to',
 'do',
 'more.',
 'She',
 'gave',
 '$50',
 'to',
 'every',
 'homeless',
 'person',
 'she',
 'saw.',
 'She',
 'felt',
 'good."']

In [49]:
type(essay)

str

In [50]:
list = essay.split()

In [74]:
print(list)

['"She', 'had', 'a', 'lot', 'of', 'money.', 'She', 'was', 'a', 'generous', 'woman.', 'She', 'was', 'once', 'poor.', 'She', 'understood', 'what', 'it', 'was', 'like.', 'She', 'wanted', 'to', 'help', 'out.', 'On', 'Christmas', 'day,', 'she', 'handed', 'out', 'food', 'to', 'the', 'poor.', 'She', 'made', 'the', 'food', 'herself.', 'She', 'put', 'a', 'turkey', 'leg,', 'a', 'scoop', 'of', 'mash', 'potatoes,', 'and', 'peas', 'on', 'a', 'plate.', 'She', 'gave', 'the', 'plate', 'to', 'each', 'homeless', 'person', 'she', 'saw.', 'The', 'homeless', 'people', 'loved', 'her.', 'One', 'homeless', 'man', 'even', 'gave', 'her', 'a', 'penny.', 'She', 'said', 'to', 'keep', 'it', 'for', 'himself.', 'She', 'decided', 'to', 'do', 'more.', 'She', 'gave', '$50', 'to', 'every', 'homeless', 'person', 'she', 'saw.', 'She', 'felt', 'good."']

In [75]:
len(list)

103

In [51]:
type(list)

list

In [77]:
print(list.count('to'))

6

# NOW YOU KNOW HOW LISTS WORK, KEEP IT UP!